@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,400;0,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.container {
  width: 90vw;
  margin: 2vw 5vw;
  display: flex;
  justify-content: space-between;
}
